.element__like{
    background-image: url('../../../images/like.svg');
    background-position: center;
    background-size: 20px 18px;
    background-repeat: no-repeat;
    border: 0;
    background-color: #FFFFFF;
    width: 20px;
    height: 18px;
    margin-left: auto;
    margin-right: 17px;
    margin-top: 31px;
    outline: none;
    -webkit-appearance: none;
}
.element__like:hover{
    opacity: 0.6;
}